.intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: fixed;
  // z-index: 3;
  // top: 0;
  // left: 0;

  &_content {
    .countdown {
      font-size: 32px;
      font-weight: 300;
      line-height: 44.8px;
      letter-spacing: -0.02em;
      text-align: center;
      color: $color-white;

      span {
        display: inline-flex;

        &:not(:last-child):after {
          content: ":";
          display: block;
          margin-left: 6px;
        }
      }
    }
  }
}