#main {
  background-color: $color-red;
  #scene {
    position: relative;

    .StickyContainer {
      position: relative;
      height: 500vh;

      .content {
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        
        &.visible {
          opacity: 1;
          transition: opacity 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        }

        h1 {
          font-size: 80px;
          font-weight: 100;
          line-height: 120%;
          margin-top: 40px;
          text-align: center;
          color: $color-white;

          strong {
            font-weight: 700;
          }
        }

        a {
          display: block;
          font-size: 20px;
          font-weight: 200;
          line-height: 100px;
          color: $color-white;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.StickyContainerSection {
  width: 100%;
  position: sticky;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 2rem;
  aspect-ratio: 16/10;
}